<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <a class="brand" href="#">New User</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Sign In', new_user_path %></li>
      <li><%= link_to 'Back', users_path %></li>
    </ul>
  </div>    
</div> 
<div class="container">
<div class="container">
	<%= render 'form' %>
</div>

