 <div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <h1>Order Sandwich</h1> 
    </div>  
  </div>  
</div>  
<div class="container">
  <%= render 'form' %>
</div>

<%= link_to 'Back', sandwichorders_path %>

