 <div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <h1>Order Sandwich</h1> 
    </div>  
  </div>  
</div>  
<div class="container">
  <%= render 'form' %>
</div>
<%= link_to image_tag("cut_sandwich.jpg", alt: "Sandwich"), '#' %>
<%= link_to 'Back', sandwichorder_path %>

