<div class="navbar navbar-fixed-top navbar-inverse">  
  <div class="navbar-inner">  
    <a class="brand" href="#">Sandwich Selector</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Sign In', new_user_path %></li>
    </ul>
  </div>    
</div> 
<div class="container">
	<%= render 'form' %>
</div>

<%= link_to image_tag("cut_sandwich.jpg", alt: "Sandwich"), '#' %>
