<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
    <div id="notice"><%= notice %></div>
    </div>  
  </div>  
</div>  
<div class="container">
<p>
  <b>Your Order Summary:</b>
  <%= @sandwich_order.sandwich_order_type.sandwich_type %>
</p>
</div>


<%= link_to 'Edit', edit_sandwich_order_path(@sandwich_order) %> |
<%= link_to 'Back', sandwich_order_path %>




